{% load static%}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Store-Centre - {{title}}</title>
  {% else %}
  <title> Store-Centre </title>
  {% endif %}

  {% block styles %}

  <link rel="icon" href="/static/images/pool2.png" type="image" sizes="16x16">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shalimar&display=swap"
    rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="/static/css/aos.css">
  <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/hamburgers.min.css">
  <link rel="stylesheet" href="/static/css/select2.min.css">
  <link rel="stylesheet" href="/static/css/util.css">
  <link rel="stylesheet" href="/static/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/date-picker/css/datepicker.min.css">
  <link rel="stylesheet" href="/static/css/loginform.css">
  <link rel="stylesheet" href="/static/css/form.css">
  <link rel="stylesheet" href="/static/css/help.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/pay.css">
  <link rel="stylesheet" href="/static/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/flaticon.css">
  <link rel="stylesheet" href="/static/css/fess.css">
  <link rel="stylesheet" href="/static/css/blog.css">
  <link rel="stylesheet" href="/static/css/loader.css">

  {% endblock %}

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class=" position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="/static/images/pool2.png" width="50" alt="">
        </div>
        <h3 class="text-center animate__animated animate__zoomIn"><span class="text-info ">STORE </span><span
            class="text-dark"> 2</span><span style="color: red;">5</span><span style="color: green;">4</span></h3>
      </div>
    </div>
  </div>
  <!-- Preloader Start -->


  <div class="site-wrap">
    {% include "navbar.html" %}

    {% if messages %}
    {% for message in messages %}
    <div class="row pt-5">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="alert text-center {{ message.tags }} alert-dismissible" role="alert" id="messages">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}


    {%endblock%}



    {% block scripts %}


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/static/js/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/css/date-picker/js/datepicker.js"></script>
    <script src="/static/css/date-picker/js/datepicker.en.js"></script>
    <script src="/static/js/jquery.countdown.min.js"></script>
    <script src="/static/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/static/js/aos.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="/static/js/tilt.jquery.min.js"></script>
    <script src="/static/js/jquery.fancybox.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/help.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/grunt.js"></script>
    <script src="/static/js/pass.js"></script>
    <script src="/static/js/loginform.js"></script>
    <script>
      $('.js-tilt').tilt({
        scale: 1.1
      })
      $(document).ready(function () {
        Date.prototype.toDateInputValue = (function () {
          var local = new Date(this);
          local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
          return local.toJSON().slice(0, 10);
        });

        // calculate diff in days
        function findDayDifference(departure, arrival) {
          var date1 = new Date(departure);
          var date2 = new Date(arrival);
          // always round down
          return Math.floor((Math.abs(date2 - date1)) / (1000 * 60 * 60 * 24));
        }
        total = function () {

          var departure = $('#departure_date').val();
          var arrival = $('#arrival_date').val();

          var units = $('#no_of_units').val();


          no_of_days = findDayDifference(departure, arrival)
          total_cost = no_of_days * charge * units;
          $('#total_cost').attr('value', total_cost);

        }

        //set date values to today on load
        $('#departure_date').val(new Date().toDateInputValue());
        $('#arrival_date').val(new Date().toDateInputValue());

        var charge = $("#id_storage_type").find('option:selected').attr('charge')
        var units = 0;
        total()

        $("#id_storage_type").change(function () {
          var element = $(this).find('option:selected');
          value = element.attr("value")
          console.log(typeof value)
          charge = parseInt(element.attr("charge"));
          total();
        });
        $("#no_of_units").on('input', function () {
          units = $(this).val();
          console.log(units)
          total();
        });


        $(document).ready(function () {
          if (document.cookie.indexOf("FooBar=true") == -1) {
            document.cookie = "FooBar=true; max-age=86400"; // 86400: seconds in a day
            $('#MyModal').modal('show');
          }
        });



      });
    </script>


    {% endblock %}
    {% include "footer.html" %}
  </div>
</body>

</html>