{% extends "base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h4 class="card-title"> staff dashboard</h4>

<div class="col-md-3">
  <div class="card">
    {% if user.profile_picture.url %}
    <img class="profile_picture my-4" src="{{ user.profile_picture.url }}" style="height: 10vh; width:10vh;" alt="">
    {% else %}
    <img class="profile_picture my-4" 
      src="https://res.cloudinary.com/dbos9xidr/image/upload/v1626854682/zvtfufhexa8lqqqgcdt3.png"
      style="height: 10vh; width:10vh;" alt="">
    {% endif %}
    <h4 class="">{{user.username}}</h4>
    {% comment %} <div class="card-header"><a href="{% url 'update_employer' %}">Update Details</a></div>
    <div class="card-header"><a href="{% url 'employer_profile' %}">See my Profile</a></div> {% endcomment %}
  </div>
</div>
<button type="button" class="btn btn-primary">
<a style="border-radius: 50px;" class="text-dark dropdown-item" href="/staff_register/">Register As staff</a></button>
{% comment %} <div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h4 class="card-title ">manage you store at ease</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Goods
                </th>
                <th>
                  units
                </th>
                <th>
                  transport
                </th>
                <th class="text-center">
                  Amount payable
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  nairobi warehouse
                </td>
                <td>
                  Nairobi
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-center">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-center">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-center">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-center">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-center">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}