{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Edit Profile {% endblock %}

{% block css %}
{% endblock %}
{% block content %}

<section id="eprofile" class="vh-100" style="background-color: #f4f5f7;">

    <div class="container">
        <div class=" mt-4">
            <div class="form">
                <h3 class="text-center">Update profile</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                    
                    {% bootstrap_form user_form %}
                    </fieldset>
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-dark bg-dark text-white" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>
</section>



{% endblock %}