<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Store Centre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link active" href="/admin_login/">Admin Login</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link active" href="/client_registration/">Register As Client</a>
          </li>
          &nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link active" href="/client_login/">Client Login</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav> -->



<!-- <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo m-0 p-0"><a href="/" class="mb-0">store</a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="/" class="nav-link">Home</a></li>
              <li><a href="/" class="nav-link">Book Now</a></li>
              <li><a href="/" class="nav-link">Services</a></li>
              <li><a href="/" class="nav-link">Contact</a></li>

              <li><a href="/client_registration/" class="nav-link">Register</a></li>
              <li><a href="/admin_login/" class="nav-link">Admin Login</a></li>
              <li><a href="/client_login/" class="nav-link">Client Login</a></li>
              <li><a href="/staff_login/" class="nav-link">Staff Login</a></li>
              <li><a href="/change_password/" class="nav-link">Change Password</a></li>
              <li><a href="/logout/" class="nav-link">Log Out</a></li>
              <li><a href="/" class="nav-link"><strong>?</strong></a></li>
              
            </ul>
          </nav>
        </div>
              
    
        
              
            
        </div>


        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white float-right"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>
    
  </header> -->



<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

  <div class="container">
    <div class="row align-items-center">

      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo m-0 p-0"><a href="/" class="mb-0"><img src="/static/images/pool2.png" width="40" alt="logo"> Store</a></h1>
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/units/book/" class="nav-link">Book Now</a></li>
            <li><a href="/" class="nav-link">Services</a></li>
            <li><a href="/records" class="nav-link">Records</a></li>

            <li><a href="/" class="nav-link">News</a></li>
            <li><a href="#howitworks-section" class="nav-link">About</a></li>

            <li><a href="/delivery/transport-summaries/" class="nav-link">Convey Summary</a></li>
            {% if user.is_authenticated %}
            {% else %}
            <li><a href="/client_register/" class="nav-link">Register</a></li>
            {% endif %}
              <div class="dropdown-menu" style="background-color: rgba(127, 255, 212, 0.671);"
                aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                {% else %}
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="/client_register/">As Client</a>
                
                {% endif %}

              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                Profile
                {% else %}
                Login
                {% endif %}
              </a>
              <div class="dropdown-menu" style="background-color: rgba(127, 255, 212, 0.671);"
                aria-labelledby="navbarDropdown">
                {% if user.is_authenticated %}
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="/profile/">Profile</a>
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="/change_password/">Change Password</a>
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="/logout/">Logout</a>
                {% else %}
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="/admin_login/">Admin Login</a>
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="{% url 'staff_login' %}">Staff Login</a>
                <a style="border-radius: 50px;" class="text-dark dropdown-item" href="{% url 'client_login' %}">Client Login</a>
                {% endif %}
              </div>
            </li>
            {% if user.is_authenticated %}
            <li><a href="" class="nav-link open-button"><strong>?</strong></a></li>
            {% else %}
            {% endif %}
          </ul>
        </nav>
      </div>


      <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#"
          class="site-menu-toggle js-menu-toggle text-white float-right"><span class="icon-menu h3"></span></a></div>

    </div>
  </div>

</header>


<section id="modal-1" class="modal-container">
  
  <div class="modal-dialog" id='modaldg'>    
    <svg class="modal-svg" id="msvg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon id='modalpg' class="modal-polygon" />
    </svg>
    
    <div id='modalct' class="modal-content">
      <h2>I'm a modal</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi ut inventore consectetur quos rerum quibusdam accusamus, labore itaque assumenda consequatur cum saepe velit quidem ipsa facilis. Repellendus, reiciendis quam?</p>
    </div>
    
  </div>
</section>
