{% extends 'base.html' %}


{% load static %}

{% block content %} 

<div class="overlay"
    style="box-shadow:inset 0 0 0 2000px rgba(23, 34, 23, 0.863);background-image: url(/static/images/hero_1.jpg);color: white;"
    data-aos="fade" id="home-section">


    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 mt-lg-5 text-center">
                <br><br>
                <h1>Records</h1>
                <div style="margin-bottom: 10px;">
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <a href="#bs" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
</div>

<div class="container-fluid" style="background-color: rgb(245, 255, 255);">

  <div class="container ">
    <div class="records "  style="padding-top:10%;">
      {% if records %}
      <div class="">
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Unit_no</th>
              <th scope="col">Storage_Type</th>
              <th scope="col">Description</th>
              <th scope="col">Arrival_date</th>
              <th scope="col">Departure_date</th>
            </tr>
          </thead>
          <tbody>
            {% for record in records %}
            <tr>
            
              <th scope="row">{{record.unit_no.pk}}</th>
              <td>{{record.storage_type}}</td>
              <td>{{record.description}}</td>
              <td>{{record.arrival_date}}</td>
              <td>{{record.departure_date}}</td>
              <td><a href="{% url 'checkout' record.id %}"><button class="btn btn-small btn-success">checkout</button></a></td>
            
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
        {% else %}
        <p>You don't have any records of bookings </p>
      {%endif%}
      </div>
  </div>
</div>

{% endblock %}