{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Request Transport{% endblock %}
{% block css %}
{% endblock %}
{%block content%}
<div class="overlay"
    style="box-shadow:inset 0 0 0 2000px rgba(23, 34, 23, 0.863);background-image: url(/static/images/hero_1.jpg);color: white;"
    data-aos="fade" id="home-section">


    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 mt-lg-5 text-center">
                <br><br>
                <h1>Request Transport</h1>
                <div style="margin-bottom: 10px;">
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <a href="#heading" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
</div>

<section class="mt-5" style="background-image: url(/static/images/image1.png);background-repeat: no-repeat;background-size: contain;margin-left: 50px;">

    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-2"></div>
            <div class="" style="margin-top: 50px;margin-bottom: 100px;margin-left: 230px;">
                <div id="enquiry" style="margin-top: 100px;margin-bottom: 100px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Would you Like to Request Transport Services?</h5><br>
                            <button style="border: 0;" type="button" class="btn bg-primary btn-primary btn-sm card-link"
                                onclick="transportFunction()">YES <img src="/static/images/button/success.png" width="30" alt=""></button>
                            <a href="{%url 'payment'%}" class="card-link btn btn-danger pull-right">NO <img src="/static/images/button/cancel (1).png" width="30" alt=""></a>
                        </div>
                    </div>
                </div>
                <div id="form" style="background-color: rgb(226, 226, 226);display: none;border: 1px solid rgb(162, 159, 159);margin-right: 130px;border-radius: 2px;box-shadow: 0px 0px 1px 0px black;">
                    <div class="col">
                        <h1 class="text-center">REQUEST TRANSPORT</h1>
    
                        <form method="POST" action="{%url 'request_transport'%}" class="form-group" style="margin-top: 5em;">
                            {%if initial_units > final_units %}
                            <h3>TRANSPORT REQUEST: PICK-UP</h3><br>
                            {%elif initial_units < final_units %}
                            <h3>DELIVERY TRANSPORT REQUEST: DELIVERY</h3><br>
                            {%endif%}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-7">
                                    <input style="border-radius: 5px;" type="text" name="address" class="form-control" placeholder="Address"><br>
                                </div>
                                <div class="col-md-7">
                                    <input style="border-radius: 5px;" type="email" name="email" class="form-control" placeholder="Email"><br>
                                </div>
                                <div class="col-md-7">
                                    <input style="border-radius: 5px;" type="tel" name="phone_number" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Phone ."><br>
                                        <button style="border-radius: 0;" type="submit" class="btn btn-success text-white pull-right">SUBMIT</button>
                                </div>
                                <div class="col">
                                    <img src="/static/images/pool2.png" width="250" alt="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
</section>







{%endblock%}
{%block scripts%}
{{block.super}}
<script src="/static/js/mapsjs/autocompleteform.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initAutocomplete&libraries=places&v=weekly"
    async></script>

<script>
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('transport_type')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }
</script>
{%endblock%}