{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Request Transport{% endblock %}
{% block css %}
{% endblock %}


{%block content%}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="text-center">REQUEST TRANSPORT</h1>
            <form method="POST" class="form-group">
                <div class="form-group"></div>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{%endblock%}
