{% extends 'base.html' %}


{% load static %}

{% block content %}
<div class="container mt-4">
    <p class="text-center">STORAGE DESCRIPTION</p><br>
    <div class="row">

        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Bonded Storage</h5>
                <p class="card-text">A bonded warehouse is a secure warehouse in which goods are stored until customs
                    duty is paid or the goods are cleared for export.</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Archive storage</h5>
                <p class="card-text">Important documents and data that no longer need to be stored onsite at a company
                    can be kept in archive storage in a warehouse. This is particularly good for companies who handle
                    lots of information on a daily basis as space can fill up quickly such as solicitors.</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Hazardous Storage</h5>
                <p class="card-text">Hazardous storage can vary depending on what dangerous materials a warehouse is
                    handling. Flammable liquids, chemicals and other such materials are usually kept in specially
                    designed storage units that are locked for extra security.</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Normal Storage</h5>
                <p class="card-text">Normal storage refers to warehouse that store goods NOT needing temperature
                    control, often what most people refer to as ‘room temperature’ which is what would normally be
                    considered comfortable. Most products, other than certain foods and perishables would require normal
                    warehousing.</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Cold Storage</h5>
                <p class="card-text">Cold and chilled storage in warehouses is used mainly for storing fresh food and
                    other perishables as it slows down and can even stop damage from insects and bacteria, which will
                    ruin these types of products if left at room temperature.
                    Other products, such as freshly cut flowers, can also be stored in chilled storage, as this keeps
                    them in top condition for moving forwards in the supply chain.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}