{% extends 'base.html' %}


{% load static %}

{% block content %} 
<div class="container mt-4">
    {% if units %}
    
    <ul class="list-group list-group-flush">
        {% for unit in units %}
        <li class="list-group-item">{{unit.id}}.{{unit.type}}:&nbsp;{{unit.charge}}</li>
       
        {% endfor %}
      </ul>

    {%endif%}
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
    <button class='btn btn-primary' type="submit">Submit</button>
    </form>
</div>
{% endblock %}