{% extends 'base.html' %}


{% load static %}

{% block content %} 


<div class="overlay" style="box-shadow:inset 0 0 0 2000px rgba(23, 34, 23, 0.863);background-image: url(/static/images/hero_1.jpg);color: white;" data-aos="fade" id="home-section">


    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6 mt-lg-5 text-center">
          <br><br>
          <h1>Booking</h1> 
          <div style="margin-bottom: 10px;">
          </div>           
        </div>
      </div>
    </div>
  <br><br>
    <a href="#heading" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
  </div>  
  



<div class="container mt-4" style="height: 100vh;">
  {{storage_type|upper}}
    {% if goods %}
    
   <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Unit_no</th>
              <th scope="col">Owner</th>
              <th scope="col">Description</th>
              <th scope="col">Arrival_date</th>
              <th scope="col">Departure_date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for good in goods %}
              <th scope="row">{{good.unit_no.pk}}</th>
              <td>{{good.owner}}</td>
              <td>{{good.description}}</td>
              <td>{{good.arrival_date}}</td>
              <td>{{good.departure_date}}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>

    {%endif%}
   
</div>
{% endblock %}